* {
  font-family: Rubik, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

h1 span,
h2 span {
  font-family: Oswald, sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background: url("./assets/images/noise.webp");
  animation: animate 0.5s steps(10) infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.bg-gradient {
  background: linear-gradient(18deg, #b900d9, #00ff58);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

/* H1 BG */
.text-gradient {
  background: linear-gradient(18deg, #b900d9, #00ff58);
  background-size: 600% 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 76% 100%;
  }
  100% {
    background-position: 25% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 76% 100%;
  }
  100% {
    background-position: 25% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 76% 100%;
  }
  100% {
    background-position: 25% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 76% 100%;
  }
  100% {
    background-position: 25% 0%;
  }
}

.bg-circle-shadow {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 60%
  );
}

.bg-shadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6951155462184874) 26%,
    rgba(0, 0, 0, 0.6951155462184874) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.skill-card-bg {
  background: rgba(255, 255, 255, 0.05);
}

.bg-b-bar {
  box-shadow: 0 -5px 10px 5px rgba(255, 255, 255, 0.03),
    inset 0 5px 10px 8px rgba(255, 255, 255, 0.05);
}

.round-b-bar {
  border-radius: 20% 20% 0 0;
}

.bg-footer {
  background: rgba(0, 0, 0, 0.5);
}

.bg-gold {
  background: rgb(153, 113, 0);
  background: radial-gradient(
    circle,
    rgba(153, 113, 0, 1) 0%,
    rgba(237, 209, 79, 1) 100%
  );
}

.text-shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bg-white-transparent {
  background: rgba(255, 255, 255, 0.3);
}
.bg-black-transparent {
  background: rgba(0, 0, 0, 0.3);
}
